.main-wrapper {
	display: grid;
	grid-template-columns: 1fr minmax(200px, 90em) 1fr;
}

main {
	margin: 0 1.8em 0 1.8em;
	display: grid;
	grid-gap: 1.5em;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "player player aside" "section section aside";
}

section {
	grid-area: section;
	display: grid;
	grid-gap: 1em;
	grid-template-rows: auto 1fr;
}

.main__video{
	grid-area: player;
	border-bottom: 1px solid lightgray;
	padding-bottom: 1rem;
}

.main__video,
section {
	font-size: 0.9em;
}

aside {
	grid-area: aside;
}

.aside__top-container {
	margin: 0.4em 0 2em 0;
}

.aside__top-container a {
	float: right;
	text-decoration: none;
	color: gray;
	font-size: 0.75em;
	font-weight: bold;
}

.aside__top-container p {
	float: left;
	font-size: 0.97em;
}

/* Cooommmmments */

.section__comments {
	width: 26.4%;
	position: relative;
	top: 1em;
}

.section__sort-container {
	position: relative;
	left: 10em;
	bottom: 0.3em;
	width: 20%;
}

.section__sort-container p {
	position: relative;
	left: 2.5em;
	bottom: 1.5em;
	color: gray;
	font-size: 0.9em;
}

.section__sort-container a {
	text-decoration: none;
}

.section__profile {
	width: 8%;
}

.section__profile img {
	width: 3.3em;
}

.input__container form {
    position: relative;
    display: flex;
    flex-direction: column;
	left: 5em;
	bottom: 3em;
    margin-right: 5em;

}

.input__container .btn-input-comment{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.input__container .btn-input-comment button{
    border: none;
    margin-top: .5rem;
    width: 5rem;
    height: 1.5rem;
    cursor: pointer;
}

.input__container button:hover{
  opacity: 0.8;
}

.input__container button:last-child{
    background-color: rgb(178, 182, 182);
    color: #fff;
    margin-left: .3rem;
}

.input__container input {
	width: 100%;
	border: none;
	border-bottom: 1px solid lightgray;
	color: gray;
    font-size: 1em;
    height: 1.5rem;
}

.comments{
    margin-bottom: 1rem;
}

.comments p,
.comments a {
	margin-left: 4.5em;
	position: relative;
}

.comments__name {
	position: relative;
	bottom: 3em;
	font-size: 0.86em;
	font-weight: 700;
}

.comments__name a {
	text-decoration: none;
	color: gray;
	position: relative;
	right: 4em;
	font-weight: 700;
}

.comments__comment {
	position: relative;
	bottom: 2em;
	line-height: 1.3em;
}

.likes {
	display: grid;
	grid-template-columns: repeat(5, 2rem);
	width: 10em;
	font-size: 0.86em;
	position: relative;
    bottom: 2em;
    margin-left: 3rem;
}

.likes i{
    color: #555;
}
.comments__text {
	position: relative;
	top: 0.5em;
	text-decoration: none;
	color: gray;
}

.comments__replies {
	text-decoration: none;
	color: #4885ed;
	position: relative;
	bottom: 0.9em;
}

@media only screen and (max-width: 1002px) {
	main {
		margin: 0 1.8em 0 1.8em;
		display: grid;
		grid-gap: 1.5em;
		grid-template-columns: 1fr;
		grid-template-rows:1fr 0.55fr;
		grid-template-areas: "player" "aside" "section";
	}
	aside {
		width: 50%;
	}

	.aside__top-container {
		width: 200%;
	}
}